.w3-theme-l5 {color:#000 !important; background-color:#f3fffe !important}
.w3-theme-l4 {color:#000 !important; background-color:#d6fffc !important}
.w3-theme-l3 {color:#000 !important; background-color:#adfff8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#85fff5 !important}
.w3-theme-l1 {color:#000 !important; background-color:#5cfff1 !important}
.w3-theme-d1 {color:#000 !important; background-color:#14ffeb !important}
.w3-theme-d2 {color:#000 !important; background-color:#00f5e0 !important}
.w3-theme-d3 {color:#fff !important; background-color:#00d6c4 !important}
.w3-theme-d4 {color:#fff !important; background-color:#00b8a8 !important}
.w3-theme-d5 {color:#fff !important; background-color:#00998c !important}

.w3-theme-light {color:#000 !important; background-color:#f3fffe !important}
.w3-theme-dark {color:#fff !important; background-color:#00998c !important}
.w3-theme-action {color:#fff !important; background-color:#00998c !important}

.w3-theme {color:#000 !important; background-color:#33ffee !important}
.w3-text-theme {color:#33ffee !important}
.w3-border-theme {border-color:#33ffee !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#33ffee !important}
.w3-hover-text-theme {color:#33ffee !important}
.w3-hover-border-theme:hover {border-color:#33ffee !important}